<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>기아 타이거즈</title>
    <style>
        th, tr { text-align: center }
    </style>
</head>
<body style="margin: 50px;">
    <img src="img/emblem.jpg" height="300">
    <!-- <h1>기아 타이거즈 선수단</h1> -->
    <button onclick="location.href='/create'">추가</button>
    <hr>
    <table>
        <tr>
            <th>ID</th>
            <th>선수명</th>
            <th>사진</th>
            <th>백넘버</th>
            <th>&nbsp;&nbsp;포지션&nbsp;&nbsp;</th>
            <th>수정/삭제</th>
        </tr>
        <% for(let row of rows) { %>
            <tr>
                <td><%= row.id %></td>
                <td><%= row.player %></td>
                <td><img src="img/<%= row.player %>.jpg" height="48"></td>
                <td><%= row.backNo %></td>
                <td><%= row.position %></td>
                <td>
                    <a href="/update/<%= row.id %>"><i class="fa-regular fa-pen-to-square"></i></a>&nbsp;
                    <a href="/delete/<%= row.id %>"><i class="fa-solid fa-user-minus"></i></a>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>